<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/">
        <div class="navbar-logo">
            <img src="assets/roumi-logo.png" alt="Roumi Logo" class="img-fluid">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons">
            menu
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/"><span class="material-icons">home</span> Home</a>
            <a class="nav-item nav-link" href="/finder"><span class="material-icons">face</span> Roomie Finder</a>
            <a class="nav-item nav-link" href="/about"><span class="material-icons">info</span> About</a>
            <a *ngIf="!logged" class="nav-item nav-link" href="/login">Login</a>
            <a *ngIf="logged" class="nav-item nav-link" href="/" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>