<app-landing-carousel></app-landing-carousel>
<div class="content">
    <div class="row d-flex align-items-center">
        <div class="col-md-4">
            <img src="assets/city.svg" class="img-fluid" alt="Illustration of people with buildings behind.">
        </div>
        <div class="col-md-6 landing-text">
            <h1>Roommate finder</h1>
            <p>Your home should be a safe space, always. If you're moving or looking to cut down expenses on your current place, find a LGBT+ or ally roommate today.</p>
            <button type="button" class="btn btn-primary">Start looking</button>
        </div>
    </div>
</div>