<div class="about-content">
    <img src="assets/roumi-logo.png" class="img-fluid">
    <h1>About Roumi</h1>
    <p>Roumi is a web application that lets you find roommates from the LGBTQ+ community and its allies, allowing you to have a safe space in your home and find people with similar interests.</p>
    <p>Although this is just a simple prototype, developed in a single night, I plan to continue developing it.</p>
    <p>This project was submitted to the PrideHacks hackaton by Major League Hackers and you can check it out here:</p>
    <br>
    <p><a href="https://github.com/melipass/roumi-app-mlh"><span class="material-icons">code</span> GitHub</a></p>
    <p><a href="https://devpost.com/software/roumi"><span class="material-icons">folder_open</span> DevPost</a></p>
    <p><a href="http://roumi.co/"><span class="material-icons">http</span> Roumi.co</a></p>
    <br>
</div>