<footer>
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="assets/flag.svg">
        </div>
        <div class="col-12 col-md-8 footer-text">
            <h1>Roumi App</h1>
            <p>Find roomies that are LGBT+ and allies.</p>
            <p>Hackaton demo created by <a href="https://github.com/melipass/roumi-app-mlh">@melipass</a> for <a href="https://pride-hacks.devpost.com/">MLH PrideHacks</a>.</p>
            <p>Illustrations <a href="http://www.freepik.com">designed by pikisuperstar / Freepik</a>.</p>
        </div>
    </div>
</footer>